{% extends "bootstrap/base.html" %}

{% block doc %}

	{% block head %}

		<meta charset="UTF-8">
		<title>Register</title>
		{{super()}}
		<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">


	{% endblock %}

	{% block body %}

		<center><div class="container" style="margin: 0 auto">
			<div class="jumbotron">
				<div class="sitename_other">
					<h1> MovieDB </h1>
				</div>

				<form action="" method="POST">
					<div class="login">
						<input type="text" class="form-control" id="inputDefault" placeholder="Name" name="name" value="{{request.form.name }}"><br>
						<input type="text" class="form-control" id="inputDefault" placeholder="Username" name="uname" value="{{request.form.username }}"><br>
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password" value="{{request.form.password }}"><br>
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password_conf" value="{{request.form.password_conf }}"><br>
						<input type="date" placeholder="Date of Birth" name="DOB" value="{{request.form.DOB }}"><br>
						<select name="Gender">
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select><br>
						<input type="button" class="btn btn-info dropdown-toggle" onclick="this.form.submit();" value="Submit">
					</div>
				</form>
			<div>
		</div></center>

	{% if session['error'] %}
		<div class="alert alert-danger" style="margin:15%" style="width: 25%" role="alert"><center>{{ session['error'] }}</center></div>
	{% endif %}

	{% endblock %}

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="./static/css/flat_bootstrap.css">
{% endblock %}